# Virtual Environment
venv/
env/
ENV/

# Python compiled files
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Project specific
connection_check.py
uploads
.cache

# OS
.DS_Store
Thumbs.db

# Files with my pathways - ignore all Python scripts in this directory
data_cleaning/cleaning_scripts_and_intermediary_files/*.py